.custom-active{
    font-weight: bold;
    color: #0044ff;
}

.icon-rounded {
    border-radius: 40px !important;
    padding: 0px !important;
    min-width: 9rem;
    height: 40px;
    padding: 3px !important;
  }